<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
 		http://www.springframework.org/schema/beans
 		http://www.springframework.org/schema/beans/spring-beans-3.2.xsd">
 		
 	<import resource="discount.xml"/>	
 		
	<bean id="userStaticDAO" class="com.epam.moviemanagment.dao.user.UserStaticDAO" />
	<bean id="eventStaticDAO" class="com.epam.moviemanagment.dao.event.EventStaticDAO" />
	<bean id="auditoriumStaticDAO"
		class="com.epam.moviemanagment.dao.auditorium.AuditoriumStaticDAO" />
	<bean id="ticketStaticDAO"
		class="com.epam.moviemanagment.dao.ticket.TicketStaticDAO" />


	<bean id="userService" class="com.epam.moviemanagment.service.UserServiceImpl">
		<constructor-arg ref="userStaticDAO" />
	</bean>
	<bean id="eventService" class="com.epam.moviemanagment.service.EventServiceImpl">
		<constructor-arg ref="eventStaticDAO" />
	</bean>
	<bean id="auditoriumService" class="com.epam.moviemanagment.service.AuditoriumServiceImpl">
		<constructor-arg ref="auditoriumStaticDAO" />
	</bean>
	<bean id="bookingService" class="com.epam.moviemanagment.service.BookingServiceImpl">
		<constructor-arg ref="ticketStaticDAO" />
		<constructor-arg ref="userService" />
		<constructor-arg ref="discountService" />
	</bean>

	<bean id="demonstrator" class="com.epam.moviemanagment.demonstration.Demonstrator">
		<property name="userService" ref="userService" />
		<property name="auditoriumService" ref="auditoriumService" />
		<property name="bookingService" ref="bookingService" />
		<property name="discountService" ref="discountService" />
		<property name="eventService" ref="eventService" />
	</bean>
</beans>